
#header img#headerSlogan {
	float:      right;
}

#nav {
list-style-type: none;
    margin:        10px;
    padding:       0px;
   
}
p {
  padding-top: 10px ;
  margin-bottom: 10px ;
}

#header {
  background-color: #675c47;
  margin:           10px;
  height:           110px;
}

#footer {
  background-color: #675c47;
  color:            white;
  text-align:       center;
  padding:          15px;
  margin:           10px;
  clear:		  right;
}

#main {
  background:       #efe5d0 url(images/background.gif) top left;
  text-align:       center;
  color:            #2F4F4F;
  font-size:        140%;
  padding:          15px 15px 15px 15px;
  margin:           10px;
  width:            500px;
  float:            left;
}
#history, #contacts , #time{
background:       #efe5d0 url(images/background.gif) top left;
  text-align:       center;
  color:	        #2F4F4F;
  font-size:        140%;
  padding:          15px;
  margin:           10px 10px 10px 10px;
  float:		       right;
  width:            850px;
}

body { 
  background-color: #b5a789;
  font-family:      sant-serif;
  font-size:        small;
  margin:           20px;
}
h1 {
  color:            #954b4b;
  text-decoration:  underline;
}


nav {
    background-color: #efe5d0;
    margin:          10px 10px 0px 10px;
}
nav ul {
     margin: 0px;
     list-style-type: none;
     padding:         5px 0px 5px 0px;
}
nav ul li {
     display:         inline;
     padding:         5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
     color:           #954b4b;
     border-bottom:   none;
     font-weight:     bold;
     text-shadow:     1px 1px 3px #e2c2c2; 
     text-transform:  uppercase;

}
